<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Colorado Gun Deaths{% endblock title %}</title>
    {% block css %}
    {% compressed_css 'site' %}
    {% endblock css %}

</head>
<body>
    {% block body %}
    <header class="container">
        {% block header %}
        <div class="row">
                <div class="span6">
                    <h1><a href="{% url blog_index %}">Colorado Gun Deaths</a></h1>
                </div>
                <div class="span6 pull-right text-right">
                    <h2>Engage. Inform. Remember.</h2>
                </div>
            </div>
        </div>
        <nav class="row">
            <div class="span6">
                <ul class="nav nav-pills">
                    <li>
                        <a href="{% url 'blog_index' %}">Latest News</a>
                    </li>
                    <li>
                        <a href="{% url 'gundeaths_victim_list' %}">Victims</a>
                    </li>
                    <li>
                        <a href="{% url 'gundeaths_incident_map' %}">Map</a>
                    </li>
                </ul>
            </div>
            <div class="span6 pull-right text-right">
                <ul class="nav nav-pills">
                    {% set pages = wp_pages() %}
                    {% for page in pages %}
                    <li><a href="{% url blog_page page.slug %}">{{ page.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        {% endblock header %}
    </header>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
    <footer class="container">
        {% block footer %}
        <hr>
        <div class="row">
            <div class="span12">
                <p>Colorado Gun Deaths is a project of the University of Colorado Boulder</p>
            </div>
        </div>
        {% endblock footer %}
    </footer>
    {% endblock body %}
    {% block js %}{% endblock js %}
</body>
</html>