{# an individual post, either in a list or by itself #}

{% if page is defined %}
{# allow the same template for pages, since the structure is the same #}
{% set post = page %}
{% endif %}

<article id="post-{{ post.id }}">
	<header>
		{% if single %}
		<h2>{{ post.title|safe }}</h2>
		{% else %}
		<h2><a href="{{ post.url|replace(WORDPRESS_BLOG_URL, '') }}">{{ post.title|safe }}</a></h2>
		{% endif %}
	</header>
	{% if page is not defined %}
	<div class="byline">
		<p>Posted {{ post.date|parsedate('F j, Y, P') }} by {{ post.author.name }}</p>
	</div>
	{% endif %}
	<div class="post-content">
		{{ post.content|safe }}
	</div>
</article>