Coffin==0.3.8
Django==1.5.5
Fabric==1.6.1
Jinja2==2.7
MarkupSafe==0.18
South==0.8.2
boto==2.9.5
cssmin==0.1.4
dj-database-url==0.2.1
dj-redis-url==0.1.4
django-boundaryservice==0.1.11
django-debug-toolbar==0.9.4
django-disqus==0.4.1
django-flatblocks==0.7.1
django-geojson==2.0.1
django-getenv==1.1
django-grappelli==2.4.7
django-leaflet==0.8.0
django-localflavor-us==1.1
django-model-utils==1.3.1
django-pipeline==1.3.12
-e git+https://github.com/mazelife/django-redactor.git@ae35b6c454661cc6140cf5f29c0b2da3b96251ce#egg=django_redactor-dev
django-redis-cache==0.10.0
django-storages==1.1.8
django-tastypie==0.10.0
docutils==0.10
futures==2.1.4
geopy==0.95.1
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.17.4
hiredis==0.1.1
httplib2==0.8
jsmin==2.0.3
mimeparse==0.1.3
nameparser==0.2.7
paramiko==1.10.1
ply==3.4
psycopg2==2.5.1
pycrypto==2.6
python-dateutil==2.1
python-digest==1.7
python-wordpress==0.1.3
pytz==2013b
redis==2.8.0
requests==1.2.3
six==1.4.1
slimit==0.8.1