{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet'>
{% compressed_css "leaflet" %}
<!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>
  <link href="{% static 'components/leaflet.markerclusterer/dist/leaflet.markercluster.Default.ie.css' %}">
<![endif]-->
<style type="text/css">
#map { height: 450px; }
</style>
{% endblock css %}

{% block content %}
<div id="map"></div>
{% endblock content %}

{% block js %}
{{ super() }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
{% compressed_js 'leaflet' %}

<script type="text/javascript">
var map = L.mapbox.map('map', 'chrisamico.map-10h9gysj')
    .setView([38.76473, -106.29198], 7);

var markers = new L.FeatureGroup().addTo(map);

$.getJSON("{% url 'api_dispatch_list' 'v1', 'incident' %}", function(incidents) {
	window.incidents = incidents;
	_.each(incidents.objects, function(incident) {
		var p = incident.point.coordinates;
		
		var marker = L.marker([p[1], p[0]])
		    .addTo(markers)
		    .bindPopup(incident.location);
	});

	map.fitBounds(markers.getBounds());
});
</script>

{% endblock js %}