{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet'>
<link href="/static/components/leaflet.markerclusterer/dist/MarkerCluster.css">

<!--[if lte IE 8]>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>
  <link href="/static/components/leaflet.markerclusterer/dist/leaflet.markercluster.Default.ie.css">

<![endif]-->
<style type="text/css">
#map { height: 450px; }
</style>
{% endblock css %}

{% block content %}
<div id="map"></div>
{% endblock content %}

{% block js %}
{{ super() }}
<script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
<script src="/static/components/leaflet.markerclusterer/dist/leaflet.markercluster.js"></script>
<script type="text/javascript">
var map = L.mapbox.map('map', 'chrisamico.map-10h9gysj')
  , incidents = {{ incident_list|geojsonfeature(geometry_field='point')|safe }}
  , points = L.geoJson(incidents).addTo(map);

map.fitBounds(points.getBounds());
</script>

{% endblock js %}